<!DOCTYPE html>
<html>
    <head>
        <title>Meal Plan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <header>
            <h1>Error 404</h1>
        </header>
        <h2>Sorry, it seems you've come to the wrong page</h2>
        <a href='{{url_for("mealplan")}}'>Return to Meal Plan</a>
        <a href='{{url_for("home")}}'>Return Options</a>
    </body>
</html>