<!DOCTYPE html>
<html>
    <head>
        <title>Meal Plan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href='static/css/home.css'>
    </head>
    <body>
        <header>
            <h1>Make a choice of proteins</h1>
        </header>
    
        <div class="form">
            <div id="form-label">{{ form.choices.label }}</div><div class="form-choices">{{ form.choices(rows=12, size=20, width=20, multiple=True) }}</div>
            <div class="submit-button">{{ form.submit }}</div>  
        </div>
        <h2>Thank you</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>