<!DOCTYPE html>
<html>
    <head>
        <title>Meal Plan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href= 'css/plan.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Your Meal Plan</h1>
        <div class="form">
            <table>
                <th>
                    <tr>
                        <td>Breakfast</td>
                        <td>Lunch</td>
                        <td>Dinner</td>
                        <td>Snacks</td>
                    </tr>
                </th>                
            </table>
        </div>
        <h2>Thank you</h2>
    </body>
</html>